<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eba9d764-f0c4-4f1b-a491-b17c6e18b23c/resourcegroups/BudgetResourceGroup/providers/Microsoft.Web/sites/BudgetAPI2</ResourceId>
    <ResourceGroup>BudgetResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/eba9d764-f0c4-4f1b-a491-b17c6e18b23c/resourceGroups/BudgetResourceGroup/providers/Microsoft.ApiManagement/service/BudgetAPIapi/apis/BudgetAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://budgetapi2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>df5ee5ce-30c5-4f5e-a3cd-7acaa669cf41</ProjectGuid>
    <MSDeployServiceURL>budgetapi2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BudgetAPI2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BudgetAPI2</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>